body {
    font-family: Arial, sans-serif;
    background-color: #222;
    color: #ddd;
    margin: 0;
    padding: 0;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
}

.design {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
}

.design div {
    background-color: #444;
    height: 50px;
}

.form {
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px; /* Added margin bottom to separate form and images */
}

.input-field {
    width: 95%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #666;
    background-color: #555;
    color: #ddd;
    border-radius: 5px;
}


.btn {
    padding: 10px 20px;
    background-color: #666;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s;
}

.btn:hover {
    background-color: #ffffff;
    color: #000000;
    font-weight: bold;
    cursor: pointer;
}

.collage {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: #222;
    padding: 10px;
}
